312.deporeibar.com:443 {

    # Set the backend server URL
    reverse_proxy * http://nginx:80 {
        header_up Host {http.request.host}
        header_up X-Forwarded-Proto {http.request.scheme}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
    }

    # Logging (optional)
    log {
        output stdout
        format console
    }

    tls certs@codesyntax.com {
        # Due to a lack of DHE support, you -must- use an ECDSA cert to support IE 11 on Windows 7
        ciphers TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
    }

    # HSTS (63072000 seconds)
    header Strict-Transport-Security "max-age=63072000"

}
